.DS_Store
node_modules/
thumbs.db
yarn-error.log

# distribution
dist/

# icon
icons

# application directory
.atcoder-review/

# Intellij
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

